{% extends 'adminbase.html.twig' %}

{% block title %}Edit Game{% endblock %}

{% block body %}
    <div class="container py-5" style="background-color: #121212; min-height: 100vh;">
        <div class="text-center mb-5">
            <h1 class="text-white display-4 fw-bold">Edit Game</h1>
        </div>

    {{ include('game_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-outline-secondary" href="{{ path('app_game_crud_index') }}">Back to list</a>
    </div>

    {{ include('game_crud/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
