{% extends 'adminbase.html.twig' %}

{% block title %}New Developer{% endblock %}

{% block body %}
    <div class="container py-5" style="background-color: #121212; min-height: 100vh;">
        <div class="text-center mb-5">
            <h1 class="text-white display-4 fw-bold">Create New Developer</h1>
        </div>

        {{ include('developer/_form.html.twig') }}

        <div class="d-flex justify-content-center mt-4">
            <a class="btn btn-outline-secondary" href="{{ path('app_developer_index') }}">Back to list</a>
        </div>
    </div>
{% endblock %}
